version: '3.8'

services:
  db:
    image: mysql:8.0
    container_name: aws-project-db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: "rootpassword"
      MYSQL_DATABASE: "ejemplotest"
      MYSQL_USER: "admin"
      MYSQL_PASSWORD: "password123"
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-h", "localhost" ]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  db_data:
